* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 12% auto;
  height: 150px;
  width: 350px;
  border: 1px solid red;
}

.content {
	width: 250px;
  border: 1px solid #fd883aec;
}

.box-input {
  width: 200px;
  margin: 5px 0; 
  border: 1px solid #3afd6bec;
  
}

.button-conclusion {
	margin: 5px 0; 
	height: 25px;
	width: 80px;
}